<!DOCTYPE html>
<html>
<head>
  <title>Meet The Expert</title>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>

<body class="body">

  <img src="images/mte.png" style="width: 100%" id="logo">
  <div class="table-body mx-auto" style="width: 1200px;">
    <div id="month"><a href="?preMonth=<%= monthNum %>"><</a><div style="display: inline-block; width: 60px; margin-right: 10px; margin-left: 10px;"><%= month %></div><div style="display: inline-block; margin-right: 10px;"><%= year %></div><a href="?postMonth=<%= monthNum %>">></a></div>
    <table class="table table-bordered">
      <thead class="table-head">
        <tr>
          <th scope="col" style="width: 10%">Sun</th>
          <th scope="col" style="width: 10%">Mon</th>
          <th scope="col" style="width: 10%">Tue</th>
          <th scope="col" style="width: 10%">Wed</th>
          <th scope="col" style="width: 10%">Thu</th>
          <th scope="col" style="width: 10%">Fri</th>
          <th scope="col" style="width: 10%">Sat</th>                        
        </tr>
      </thead>
      <tbody>
        <% let cellCount = 1 %>
        <% let startDay = firstDay + 1 %><%# 시작 요일 %>
        <% let date = '' %> 
        <% let dateId = '' %>
        <% let startDayExecuted = false %><%# 지난 달 마지막 일 지났는지 확인하는 함수 실행 여부 %>       
        <% let lastDayExecuted = false %>

        <%# 테이블 행 while문 %>
        <% let tbl_row = 0 %>
        <% while (tbl_row < 5) { %>
        <tr>
          <%# 테이블 열 while문 %>
          <% let tbl_column = 0 %>
          <% while (tbl_column < 7) { %>
          <th scope="row">
            <%# 날짜 추가 %>
            <div style="background-color: rgb(255, 242, 221); width: 170px; height: 24px;">
              <% if (startDay == cellCount) { date = 1, startDayExecuted = true } %>
              <%= date %>
              <% if (startDayExecuted == true && lastDayExecuted == false) { date++, dateId++ } %>
              <% if (startDayExecuted == true && lastDayExecuted == true) { dateId = '' } %>
              <% cellCount++ %> 
              <% if (date > lastDate) { date = '', lastDayExecuted = true } %> 
            </div>
              <%# cell 추가 while문 %>            
              <% let cell = 0 %>
              <% while (cell < 6) { %>
                <%# cell 식별 id 설정 %>
                <% let cell_id = [cell + 1, dateId, monthNum + 1, year] %><%#cell id가 cell순서, 일, 월, 년을 나타내도록 보정/수정 %>
               
                <% if (dateId === '') { %>
                <div style="width: 170px; height: 90px; background: repeating-linear-gradient(
                  45deg,
                  white,
                  white 10px,
                  #e8f2fc 10px,
                  #e8f2fc 20px
                );">
                <% } else { %>
                <div class="inner_cell" id=<%= cell_id %> cellNum=<%= cell + 1 %> monthId=<%= monthNum + 1 %> yearId=<%= year %>>    
                  <%# DB에서 값 받아서 렌더링 %>
                  <% for (let schedule of schedules) { %>
                    <% if (schedule.cellId == cell_id) { %>
                      <div class="dynamic_cell" style="background-color: aquamarine; height: 100%; padding: 2px; overflow: hidden;" cellId=<%= cell_id %> account=<%= schedule.account %> sales=<%= schedule.sales %> sa=<%= schedule.sa %> startTime=<%= schedule.startTime %> endTime=<%= schedule.endTime %> room=<%= schedule.room %>>                    
                      <%= schedule.sales %><%= ' / ' %><%= schedule.sa %><%= ' / ' %><%= schedule.account %>
                      </div>
                      <% break %>
                    <% } %>
                  <% } %>  
                </div>
                <% } %>
                <% cell++ %>
              <% } %>
          </th>
          <% tbl_column++ %>
          <% } %>                             
        </tr>
        <% tbl_row++ %>  
        <% } %>      
      </tbody>
    </table>
  </div>

  <!-- popup -->
  <div class="popup-overlay">
    <div class="popup-content">
      <form class="field" action="/add_schedule" method="POST" enctype="multipart/form-data">
        <div class="info">Schedule Information</div>
        <input type="text" name="sa" class="text-field field_second" placeholder="SA Assigned" required="required">
        <input type="text" name="sales" class="text-field field_second" placeholder="TM/AM Assigned" required="required"><br>
        <input type="text" name="account" class="text-field" id='account-name' placeholder="Account Name" required="required"><br>
        <input type="text" name="room" class="text-field" id='meeting-room' placeholder="Meeting Room" required="required"><br>
        <input type="file" name="files" id="file-button"><br>
        <button class="submit_button button" type="submit">Save</button>
      </form>
      <button class="close_button button">Close</button>
    </div>  
  </div>  
  <!-- popup -->

  <!-- scheduled popup -->
  <div class="scheduled-popup-overlay">
    <div class="scheduled-popup-content">
      <div class="scheduled-info">Schedule Information</div>
      
      <button class="close_button button dynamic_button">Close</button>
    </div>  
  </div>  
    <!-- scheduled popup -->

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">    
  </script>
  <script src="script/script.js"></script>

</body>
</html>